In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px 
import numpy as np
import requests
import json
import csv

In [2]:
airlines_df = pd.read_csv("Airline reviews 3.csv")
airlines_df

,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
0,service was mediocre at best,Gary Storer,3/10/2023,United Kingdom,"Just returned from Chicago, flew out 10 days ...",A380,Couple Leisure,Economy Class,Chicago to Manchester via Heathrow,1/10/2023,no,Not Verified,2,2,3,1,2,2,-1
1,BA standards continue to decline,A Jensen,2/10/2023,United Kingdom,BA standards continue to decline every time ...,A320,Business,Business Class,London Heathrow to Munich,1/9/2023,no,Verified,2,2,1,2,1,1,-1
2,"won the race to the bottom""",John Rockett,2/10/2023,United Kingdom,Awful. Business class check in queue just as...,A320,Couple Leisure,Business Class,Heathrow to Istanbul,1/9/2023,no,Not Verified,2,2,3,2,1,1,-1
3,Not a reliable airline,Tatiana Bobrovskaya,2/10/2023,United Kingdom,Not a reliable airline. You cannot trust the...,A320,Business,Economy Class,London to Geneva,1/10/2023,no,Verified,3,4,4,2,1,1,-1
4,Very disappointed,Tom Slowbe,28-09-2023,United States,"The airplanes and the lounges are worn out, o...",777-300 and A320,Couple Leisure,First Class,Dallas to Dubrovnik via Heathrow,1/9/2023,no,Verified,1,1,4,4,3,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,seat let down very good flight,Gregory Martinez,26-03-2016,United Kingdom,Barcelona to Seoul Incheon via London Heathr...,Boeing 787,Solo Leisure,Economy Class,BCN to SEL via LHR,1/3/2016,yes,Verified,8,3,4,4,4,5,4
1320,friendly and efficient service,Philip Djaferis,25-03-2016,Switzerland,London Heathrow to Houston on British Airway...,Boeing 777-200,Couple Leisure,Economy Class,LHR to IAH,1/3/2016,yes,Verified,8,3,5,4,4,4,4
1321,BA.com been truly appalling,Joanne Le Bon,24-03-2016,United Kingdom,We have flown with British Airways over 100 ...,Boeing 747-400,Couple Leisure,First Class,LHR to DEN,1/3/2016,no,Verified,8,3,4,3,4,2,3
1322,overall experience was pleasant,J Lawrence,23-03-2016,South Africa,British Airways from Seattle to Johannesburg...,Boeing 747-400 /A380,Solo Leisure,Economy Class,SEA to JNB via LHR,1/3/2016,yes,Verified,8,3,4,4,4,4,2
1323,the most uncomfortable flight,K Ong,23-03-2016,Malaysia,Gatwick to Amsterdam in Business class was t...,A320,Solo Leisure,Business Class,LGW to AMS,1/3/2016,no,Verified,1,2,2,2,3,2,-1

In [3]:
airlines_reviews_df = pd.read_csv("Airlines Reviews and Ratings.csv")
airlines_reviews_df

,Aircraft Type,Users Reviews,Country,Type_of_Travellers,Route,Seat_Types,Seat Comfort,Date Flown,Cabin Staff Service,Ground Service,Food & Beverages,Wifi & Connectivity,Inflight Entertainment,Value For Money,Recommended
0,NaN,✅Trip Verified| Cancelled our flight last-min...,United Kingdom,Couple Leisure,London Heathrow to Tokyo,Economy Class,1.0,23-Sep,1.0,2.0,1.0,NaN,3.0,1,no
1,NaN,"✅Trip Verified| I had a flight from Miami, Flo...",United States,Solo Leisure,Miami to Dublin via London Heathrow,Business Class,1.0,23-Aug,3.0,1.0,2.0,1.0,1.0,1,no
2,NaN,✅Trip Verified| We started our day with BA in...,United States,Business,Prague to San Francisco via London,Business Class,1.0,23-Sep,3.0,1.0,3.0,1.0,NaN,1,no
3,NaN,✅Trip Verified| I fly British Airways weekly ...,United Kingdom,Business,London to Glasgow,Economy Class,1.0,23-Sep,1.0,1.0,1.0,1.0,1.0,1,no
4,NaN,Not Verified| Everything was ok until our con...,France,Family Leisure,San Diego to Marseille via London,Economy Class,3.0,23-Aug,2.0,1.0,3.0,1.0,3.0,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3285,NaN,LAX to LHR - 25 Oct 2014. I agree with other r...,United Kingdom,NaN,NaN,Business Class,3.0,NaN,2.0,NaN,1.0,NaN,3.0,2,no
3286,NaN,Toronto to London Heathrow - 26/10/14. After r...,United Kingdom,NaN,NaN,Business Class,4.0,NaN,5.0,NaN,5.0,NaN,5.0,4,yes
3287,NaN,I have after years of loyalty finally had it w...,United Kingdom,NaN,NaN,Business Class,3.0,NaN,1.0,NaN,1.0,NaN,2.0,1,no
3288,NaN,Traveled with British Airways ORD-LHR last mon...,United States,NaN,NaN,Business Class,5.0,NaN,5.0,NaN,4.0,NaN,4.0,4,yes
3289,NaN,Travelled to Palma in new BA 'sardine' busines...,United Kingdom,NaN,NaN,Business Class,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1,no

# Dropping Columns We Don't Need

In [8]:
airlines_df = airlines_df.drop(["date", "content", "route", "author", "date_flown", "header"], axis=1)
airlines_df

,place,aircraft,traveller_type,seat_type,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
0,United Kingdom,A380,Couple Leisure,Economy Class,no,Not Verified,2,2,3,1,2,2,-1
1,United Kingdom,A320,Business,Business Class,no,Verified,2,2,1,2,1,1,-1
2,United Kingdom,A320,Couple Leisure,Business Class,no,Not Verified,2,2,3,2,1,1,-1
3,United Kingdom,A320,Business,Economy Class,no,Verified,3,4,4,2,1,1,-1
4,United States,777-300 and A320,Couple Leisure,First Class,no,Verified,1,1,4,4,3,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,United Kingdom,Boeing 787,Solo Leisure,Economy Class,yes,Verified,8,3,4,4,4,5,4
1320,Switzerland,Boeing 777-200,Couple Leisure,Economy Class,yes,Verified,8,3,5,4,4,4,4
1321,United Kingdom,Boeing 747-400,Couple Leisure,First Class,no,Verified,8,3,4,3,4,2,3
1322,South Africa,Boeing 747-400 /A380,Solo Leisure,Economy Class,yes,Verified,8,3,4,4,4,4,2
1323,Malaysia,A320,Solo Leisure,Business Class,no,Verified,1,2,2,2,3,2,-1

In [9]:
airlines_reviews_df = airlines_reviews_df.drop(["Route", "Users Reviews", "Date Flown"], axis=1)
airlines_reviews_df

,Aircraft Type,Country,Type_of_Travellers,Seat_Types,Seat Comfort,Cabin Staff Service,Ground Service,Food & Beverages,Wifi & Connectivity,Inflight Entertainment,Value For Money,Recommended
0,NaN,United Kingdom,Couple Leisure,Economy Class,1.0,1.0,2.0,1.0,NaN,3.0,1,no
1,NaN,United States,Solo Leisure,Business Class,1.0,3.0,1.0,2.0,1.0,1.0,1,no
2,NaN,United States,Business,Business Class,1.0,3.0,1.0,3.0,1.0,NaN,1,no
3,NaN,United Kingdom,Business,Economy Class,1.0,1.0,1.0,1.0,1.0,1.0,1,no
4,NaN,France,Family Leisure,Economy Class,3.0,2.0,1.0,3.0,1.0,3.0,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...
3285,NaN,United Kingdom,NaN,Business Class,3.0,2.0,NaN,1.0,NaN,3.0,2,no
3286,NaN,United Kingdom,NaN,Business Class,4.0,5.0,NaN,5.0,NaN,5.0,4,yes
3287,NaN,United Kingdom,NaN,Business Class,3.0,1.0,NaN,1.0,NaN,2.0,1,no
3288,NaN,United States,NaN,Business Class,5.0,5.0,NaN,4.0,NaN,4.0,4,yes
3289,NaN,United Kingdom,NaN,Business Class,1.0,1.0,NaN,1.0,NaN,1.0,1,no

# Finding and Removing null values

In [10]:
null_values_airlines = airlines_df.isnull().sum()
print("Number of null values: ")
print(null_values_airlines)

place                  0
aircraft               0
traveller_type         1
seat_type              0
recommended            0
trip_verified          0
rating                 0
seat_comfort           0
cabin_staff_service    0
food_beverages         0
ground_service         0
value_for_money        0
entertainment          0
dtype: int64

In [11]:
airlines_df.dropna(inplace=True)
null_values_airlines = airlines_df.isnull().sum()
print("Number of null values: ")
print(null_values_airlines)

Number of null values:
place                  0
aircraft               0
traveller_type         0
seat_type              0
recommended            0
trip_verified          0
rating                 0
seat_comfort           0
cabin_staff_service    0
food_beverages         0
ground_service         0
value_for_money        0
entertainment          0
dtype: int64

In [22]:
airlines_df.rename(columns={'aircraft': 'Aircraft Type'}, inplace=True)
airlines_df

AttributeError: 'NoneType' object has no attribute 'rename'

In [12]:
null_values_reviews = airlines_reviews_df.isnull().sum()
print("Number of null values: ")
print(null_values_reviews)

Number of null values:
Aircraft Type             1394
Country                      1
Type_of_Travellers         403
Seat_Types                   3
Seat Comfort               114
Cabin Staff Service        125
Ground Service             478
Food & Beverages           379
Wifi & Connectivity       2698
Inflight Entertainment    1119
Value For Money              0
Recommended                  0
dtype: int64

In [13]:
airlines_reviews_df.dropna(inplace=True)
null_values_reviews = airlines_reviews_df.isnull().sum()
print("Number of null values: ")
print(null_values_reviews)

Number of null values:
Aircraft Type             0
Country                   0
Type_of_Travellers        0
Seat_Types                0
Seat Comfort              0
Cabin Staff Service       0
Ground Service            0
Food & Beverages          0
Wifi & Connectivity       0
Inflight Entertainment    0
Value For Money           0
Recommended               0
dtype: int64

In [14]:
airlines_reviews_df

,Aircraft Type,Country,Type_of_Travellers,Seat_Types,Seat Comfort,Cabin Staff Service,Ground Service,Food & Beverages,Wifi & Connectivity,Inflight Entertainment,Value For Money,Recommended
14,A320,Germany,Couple Leisure,Economy Class,1.0,3.0,1.0,1.0,1.0,1.0,1,no
17,Boeing 777-200,Iceland,Couple Leisure,Business Class,4.0,3.0,4.0,3.0,3.0,3.0,4,yes
23,A320,United Kingdom,Solo Leisure,Business Class,1.0,1.0,1.0,1.0,1.0,1.0,1,no
34,A380,United Kingdom,Family Leisure,Business Class,4.0,5.0,4.0,5.0,5.0,5.0,4,yes
39,A380 / A320,Poland,Business,Economy Class,3.0,5.0,1.0,4.0,3.0,5.0,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...
2830,Boeing 747-400,United States,Couple Leisure,Premium Economy,4.0,5.0,3.0,4.0,4.0,5.0,4,yes
2838,A318,United Kingdom,Solo Leisure,Business Class,5.0,5.0,5.0,5.0,5.0,5.0,3,yes
2840,Boeing 777,United Kingdom,Family Leisure,Economy Class,1.0,2.0,1.0,1.0,1.0,1.0,2,no
2848,A380,United Kingdom,Solo Leisure,Economy Class,4.0,5.0,4.0,3.0,4.0,5.0,5,yes
2876,A321,United Kingdom,Business,Business Class,1.0,3.0,3.0,2.0,1.0,1.0,1,no

In [17]:
airlines_merged_df = pd.merge(airlines_df, airlines_reviews_df, on="recommended", how="left") 
airlines_merged_df

KeyError: 'recommended'